.header{
    font-size: 0.95em;
    font-weight: 500;
    margin:0 1em;
    line-height: 1.2%;
    background-color: #ff6600; 
    color: black;
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
    
}

h2{
    margin-left: 0.3em;
    padding-left: 0.3em;
    font-size: 1.1em;
}

.logo{
    align-self: center;
    display: block;
    width: 20px;
    height: 21px;
}

.center > li{
    padding-left: 0.5em;
    display: inline-block;
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
}
.left { display: flex; }
.right{   
    list-style: none;
    margin-right: 4px;
}

.right>li{
    /* align-self: flex-end; */
}