.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: #f6f6ef;;
}

.table-row {
  text-align: start;
}

.small{
  color: gray;
  font-size: 0.8em;
}

.main{
  margin-bottom: 2em;
  border-bottom: 2px #ff6600;
}

.footer{
  margin-top: 1em;
  border-top: #ff6600 10px;
}

.footer li{
  display: inline-block;
  list-style: none;
  font-size: 0.7em;
  padding-right: 0.4em;
}

.footer h3>a{
  font-size: 0.8em;
  font-weight: 100;
  color: rgb(83, 83, 83);
}


